body {
  background-color: antiquewhite;
}

.field {
  position: relative;
  border: 5px solid #000;
  border-radius: 15px;
  width: 600px;
  height: 600px;
  margin: auto;

  background-color: rgb(212, 246, 161);
}

.cell {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  width: 25%;
  height: 25%;

  border: 3px solid rgb(199, 162, 250);
  border-radius: 50%;
  background-color: rgb(176, 209, 236);
  color: rgb(255, 255, 255);

  padding: 10px;
  font-size: 50px;
  cursor: pointer;

  transition: all 500ms;
}
